body {
    background-color: powderblue;
  }
  h1 {
    color: black;
    font-family: Brush Script MT, cursive;
    font-size: 360%
  }
  h2 {
    color: rgb(114, 88, 16);
    font-family:fantasy
  }
  p {
    color: black;
    font-family: "Times New Roman", Times, serif; 
    font-size: 125%
  }






