body { 
    background-image: url("C:\Users\logan\Website-project\task-list\pictures\homepage-02.jpg"); /* Replace with your image's name and extension */ 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
  }
    
  
 
  
  
  
  