body { 
  background-image: url("C:\Users\logan\Website-project\task-list\pictures\homepage-02.jpg"); /* Replace with your image's name and extension */ 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center;
}
  


h1 {
    text-align: center;
    color: black;
    font-family: Brush Script MT, cursive;
    font-size: 360%
    }

  h2 {
    text-align: center;
    color: rgb(114, 88, 16);
    font-family:fantasy
  }
  p {
    color: black;
    font-family: "Times New Roman", Times, serif; 
    font-size: 125%
  }






